<div class="container-fluid" style="margin-top:20px;">

    {% for course in courses %}

    <div class="card mb-7" style="margin-bottom:20px; max-height: 450px;">
        <div class="row no-gutters">
            <div class="col-md-4" >
                <img style="object-fit: cover; height: 200px;" src="{{ course.image.url }}"  class="card-img rounded-0" >
            </div>
            <div class="col-md-8 ">
                <div class="card-body ">
                    {%if course.published == True%}
                    <small>Published</small>
                    {%else%}
                    <small>Saved</small>
                    {%endif%}
                    <a href="{% url 'editcourse' course.id %} "><h5 class="card-title ">{{ course.title }}</h5></a>
                    <p class="card-text ">{{ course.summary }}</p>
                    <p class="card-text "><small class="text-muted "><a href="{%url 'exploretopic' course.topic.id %}">{{ course.topic }}</a></small></p>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

</div>