<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            {% for topic in topics %}

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="{%url 'exploretopic' topic.id %}" class="card-text">{{ topic.title }}</a>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{topic.number_of_courses}}  courses</small>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>