{% extends '../temp/classroom_base.html' %} {% block content %}

<div id="content-wrapper">

    <div class="container">

        {% if error %}

        <p style="color:red;" class="text-center"> {{error}} </p>

        {%endif%}

        <div class="row">

            <div class="col">

                <form method="POST" action="{% url 'changepassword' %}">

                    {% csrf_token %}

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Old Password" type="password" name="oldpassword">
                    </div>
                    <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="New Password" type="password" name="password">
                    </div>
                    <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Confirm New Password" type="password" name="password2">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-block">Update</button>
                    </div>
                </form>
            </div>

            <div class="col-lg-3">

                <ul class="list-group">
                    <li class="list-group-item"><a href="{% url 'profile'%}">Profile</a> </li>
                    <li class="list-group-item"><a href="{% url 'changepassword'%}">Change Password</a> </li>

                </ul>

            </div>

        </div>
    </div>
</div>

{%endblock%}