{% extends '../temp/classroom_base.html' %} 
{% load static %} 
{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script>

<div class="container-fluid" style="margin-top:40px;">

    {% if error %}

    <p style="color:red;" class="text-center"> {{error}} </p>

    {%endif%}

    <form method="POST" action="{% url 'newcourse' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">

            <div class="row">
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="title" placeholder="Title" value="{{ course.title }}"> {% if course.id %}
                    <ul class="list-group mt-4" id="demo2">
                        <div class="modal fade" id="sectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">New Section</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="sectionname" placeholder="Section Name">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" name="newsection" class="btn btn-danger">New Section</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#sectionModal" data-whatever="@getbootstrap">New Section</button>

                        {% for section in course.section_set.all %}
                        <li class="list-group-item"><a href="{% url 'editsection' section.id %}">Section {{section.order}}: {{section.name}}</a></li>
                        {% endfor %}

                    </ul>
                    {% endif %}

                    <br />

                    <textarea type="text" class="form-control" name="description" rows="4" placeholder="Course Description">{{ course.description }}</textarea>
                    <br />

                    <textarea id="summernote" name="wywl">{{ course.wywl }}</textarea>
                    <script>
                        $('#summernote').summernote({
                            placeholder: 'What they will learn?',
                            tabsize: 1,
                            height: 250
                        });
                    </script>

                </div>

                <div class="col-sm-4">
                    {% if course.image %}
                    <button type="submit" name="addglossary" class="btn btn-danger btn-block">Add Glossary</button>
                    <br />
                    <img src="{{ course.image.url }}" style="width:100%; height: auto"> {% endif %}
                    <label for="exampleFormControlSelect1">Course Image</label>
                    <input type="file" class="form-control-file" name="image">
                    <br />
                    <label for="exampleFormControlSelect1">Topic</label>
                    <select class="form-control" name="topic">
                        <option disabled selected>Select topic</option>
                        {% for topic in topics.all %} {% if topic.id == course.topic.id %}
                        <option selected value="{{ topic.id }}">{{ topic }}</option>
                        {% else %}
                        <option value="{{ topic.id }}">{{ topic }}</option>
                        {% endif %} {% endfor %}
                    </select>
                    <br />

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="New Topic" name="topictitle" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-danger"  type="submit" name="newtopic"><i class="fas fa-plus"></i> Add</button>
                            </div>
                        </div>

                    <br /> 
                    {% for label in course.label.all %}
                    <button type="submit" name="removelabel" class="badge badge-pill badge-dark" style="margin-bottom: 5px;">{{ label.name }}</button>
                    <input type="hidden" name="labelremove" value="{{ label.id }}"> {% endfor %}

                    <input type="text" class="form-control" name="labels" placeholder="Labels">

                    <br /> {% if course.id %} {% if course.published == True %}
                    <small>Published at: {{course.pub_date_exact}}</small> {% else %}
                    <small>Saved at: {{course.pub_date_exact}}</small> {% endif %} {% endif %}

                    <br />

                    <button type="submit" name="save" class="btn btn-danger">Save</button>
                    {% if course.id %}
                    <button type="submit" name="publish" class="btn btn-danger">Publish</button>{% endif %}
                </div>
            </div>
        </div>
    </form>

</div>

{%endblock%}