{% extends 'base.html' %} {% block content %}

<table width="60%" align="center">
  <tr><td align="center">
    &nbsp;
{% for obj in activity_objects %}

    <div class="card mb-7" style="margin-bottom:20px; max-height: 150px;">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img style="object-fit: cover; height: 100px; width: 100px;" src="{{obj.imgUrl}}" class="card-img rounded-0">
            </div>
            <div class="col-md-8">
                <div class="card-body ">


                    <a href={{obj.actor}}><h6>{{obj.summary}}</h6></a>

                  <!--  <a href="{% url 'userprofile' userprofile.user.username  %}"><small class="card-text ">@{{ userprofile.user.username }}</small></a> -->
                </div>
            </div>
        </div>
    </div>
{% endfor %}


<!--    <table width="70%" align="center" border="2">
      <tr><td align="center">
        <table width="70%" align="center">
      <tr><td>
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      </td></tr>
      <tr><td>
        <div class="wrapper" style="text-align: center;">
          <br>
          <button align="center" onclick="window.location.href = '{% url 'topics' %}';" class="btn btn-danger">Explore More Topics</button>
        </div>
      </td></tr>
    </table>
  </td><td>
    <img width="200" height="200" src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
  </td></tr>
    </table>

  </td></tr><tr><td>
    &nbsp;
  </td></tr><tr><td>

<!-- Document Header Starts



 <table width="70%" align="center" border="2">
    <tr><td align="center">
      <table width="100%" align="center">
        <tr><td>
        Emre yeni course oluşturdu.
        </td></tr>
        <tr><td>
          <div class="wrapper" style="text-align: center;">
            <br>
          <!--  <button align="center" onclick="window.location.href = '{% url 'topics' %}';" class="btn btn-danger">Explore More Topics</button>
          </div>
        </td></tr>
      </table>
    </td><td>
      <img width="80" height="80" src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
    </td></tr>
  </table>

</td></tr><tr><td>
  &nbsp;
</td></tr><tr><td>

<table width="70%" align="center" border="2">
  <tr><td align="center">
    <table width="70%" align="center">
      <tr><td>
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      </td></tr>
      <tr><td>
        <div class="wrapper" style="text-align: center;">
          <br>
          <button align="center" onclick="window.location.href = '{% url 'topics' %}';" class="btn btn-danger">Explore More Topics</button>
        </div>
      </td></tr>
    </table>
  </td><td>
    <img width="200" height="200" src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
  </td></tr>
</table>

</td></tr><tr><td>
  &nbsp;
</td></tr><tr><td>

<table width="70%" align="center" border="2">
  <tr><td align="center">
    <table width="70%" align="center">
      <tr><td>
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      </td></tr>
      <tr><td>
        <div class="wrapper" style="text-align: center;">
          <br>
          <button align="center" onclick="window.location.href = '{% url 'topics' %}';" class="btn btn-danger">Explore More Topics</button>
        </div>
      </td></tr>
    </table>
  </td><td>
    <img width="200" height="200" src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
  </td></tr>
</table>
-->


</td></tr>
</table>

{%endblock%}
