{% extends 'base.html' %} {% block content %}

<table width="80%" align="center">
  <tr><td align="center">
    &nbsp;

    <table width="70%" align="center" border="2">
      <tr><td align="center">
        <table width="70%" align="center">
      <tr><td>
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      </td></tr>
      <tr><td>
        <div class="wrapper" style="text-align: center;">
          <br>
          <button align="center" onclick="window.location.href = '{% url 'topics' %}';" class="btn btn-danger">Explore More Topics</button>
        </div>
      </td></tr>
    </table>
  </td><td>
    <img width="200" height="200" src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
  </td></tr>
    </table>

  </td></tr><tr><td>
    &nbsp;
  </td></tr><tr><td>

  <table width="70%" align="center" border="2">
    <tr><td align="center">
      <table width="100%" align="center">
        <tr><td>
        Emre yeni course oluşturdu.
        </td></tr>
        <tr><td>
          <div class="wrapper" style="text-align: center;">
            <br>
          <!--  <button align="center" onclick="window.location.href = '{% url 'topics' %}';" class="btn btn-danger">Explore More Topics</button> -->
          </div>
        </td></tr>
      </table>
    </td><td>
      <img width="80" height="80" src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
    </td></tr>
  </table>

</td></tr><tr><td>
  &nbsp;
</td></tr><tr><td>

<table width="70%" align="center" border="2">
  <tr><td align="center">
    <table width="70%" align="center">
      <tr><td>
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      </td></tr>
      <tr><td>
        <div class="wrapper" style="text-align: center;">
          <br>
          <button align="center" onclick="window.location.href = '{% url 'topics' %}';" class="btn btn-danger">Explore More Topics</button>
        </div>
      </td></tr>
    </table>
  </td><td>
    <img width="200" height="200" src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
  </td></tr>
</table>

</td></tr><tr><td>
  &nbsp;
</td></tr><tr><td>

<table width="70%" align="center" border="2">
  <tr><td align="center">
    <table width="70%" align="center">
      <tr><td>
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      Emre yeni course oluşturdu.Emre yeni course oluşturdu.Emre yeni course oluşturdu.
      </td></tr>
      <tr><td>
        <div class="wrapper" style="text-align: center;">
          <br>
          <button align="center" onclick="window.location.href = '{% url 'topics' %}';" class="btn btn-danger">Explore More Topics</button>
        </div>
      </td></tr>
    </table>
  </td><td>
    <img width="200" height="200" src="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg">
  </td></tr>
</table>


</td></tr>
</table>

{%endblock%}
