{% extends 'base.html' %} {% block content %} {% load staticfiles %}

<style type="text/css">
    .thumb1 {
        object-fit: cover;
        width: 150px;
        height: 150px;
    }
</style>

<div class="container" style="margin-top:130px;">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4">

                {% include "../temp/user_profile_card.html" %}


        </div>

        <div class="col-md-8">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#activities">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#enrolled">Enrolled Courses</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="courses" class="container tab-pane active">
                    <br> {% for course in courses %}

                    <div class="card mb-7" style="margin-bottom:20px; max-height: 450px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img style="object-fit: cover; height: 200px;" src="{{ course.image.url }}" class="card-img rounded-0">
                            </div>
                            <div class="col-md-8 ">
                                <div class="card-body ">
                                    <a href="{% url 'coursedetail' course.id %}"><h5 class="card-title ">{{ course.title }}</h5></a>
                                    <p class="card-text ">{{ course.summary }}</p>
                                    <p class="card-text "><small class="text-muted "><a href="{%url 'exploretopic' course.topic.id %}">{{ course.topic }}</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
                <div id="activities" class="container tab-pane face">
                    <br>
                    {% for obj in activity_objects %}
                    <div class="card mb-7" style="margin-bottom:20px; max-height: 150px;">
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <img style="object-fit: cover; height: 100px; width: 100px;" src="{{userprofile.image.url}}" class="card-img rounded-0">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body ">


                                    <a <h6>{{obj.summary}}</h6></a>

                                  <!--  <a href="{% url 'userprofile' userprofile.user.username  %}"><small class="card-text ">@{{ userprofile.user.username }}</small></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div id="enrolled" class="container tab-pane face">
                    <br> {% for enrollment in enrolled_courses %}

                    <div class="card mb-7" style="margin-bottom:20px; max-height: 450px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img style="object-fit: cover; height: 200px;" src="{{ enrollment.course.image.url }}" class="card-img rounded-0">
                            </div>
                            <div class="col-md-8 ">
                                <div class="card-body ">
                                    <a href="{% url 'coursedetail' enrollment.course.id %}"><h5 class="card-title ">{{ enrollment.course.title }}</h5></a>
                                    <p class="card-text ">{{ enrollment.course.summary }}</p>
                                    <p class="card-text "><small class="text-muted "><a href="{%url 'exploretopic' enrollment.course.topic.id %}">{{ enrollment.course.topic }}</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>

            </div>
        </div>

    </div>

</div>
{%endblock%}
