{% extends '../temp/classroom_base.html' %} {% load static %} {% load my_tags %} {% block content %}

<div class="container-fluid" style="margin-top:20px;">

    <div class="row" style="background-color: #efefef;margin-bottom: 20px;">
        <div class="col-lg-4"><img style="object-fit: cover; width: 100%;" src="{{course.image.url}}" height="250"></div>

        <div class="col">
            <h1>{{course.title}}</h1>
            <p>{{course.description}}</p>
            {% for section in lsr|slice:":1" %}
            <a href="{% url 'viewsection' section.id %}" class="btn btn-danger">Resume Section {{section.order}}</a>
            {% endfor %}

            <a href="{% url 'viewglossary' course.id %}" class="btn btn-danger ">Glossary</a>
        </div>
    </div>


    {% for learner_section_record in lsr_all %}



    <div class="card mb-3">

        <div class="card-header">
            Section {{learner_section_record.section.order}} 
            {%if learner_section_record.section in lsr_finished %}
            <i class="fas fa-check" style="color:green;"></i>
            {%endif%}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{learner_section_record.section.name}}</h5>
            <p class="card-text">{{learner_section_record.section.description}}</p>
                {%if learner_section_record.section in lsr_not_started %}
                <a href="{% url 'viewsection' learner_section_record.section.id %}" class="btn btn-danger">Start Section</a>
                {%elif learner_section_record.section in lsr_finished %}
                <a href="{% url 'viewsection' learner_section_record.section.id %}" class="btn btn-danger">View Section</a>
                {%else%}
                <a href="{% url 'viewsection' learner_section_record.section.id %}" class="btn btn-danger">Resume Section</a>
                {%endif%}

            <br />
            <br />

            {%if learner_section_record.section in lsr_finished %}

            <div class="progress">
             <div class="progress-bar progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{learner_section_record.completeRate}}%;" aria-valuenow="{{learner_section_record.completeRate}}" aria-valuemin="0" aria-valuemax="100">{{learner_section_record.completeRate}}% Completed</div>
            </div>

            {%else%}

            <div class="progress">
             <div class="progress-bar progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{learner_section_record.completeRate}}%;" aria-valuenow="{{learner_section_record.completeRate}}" aria-valuemin="0" aria-valuemax="100">{{learner_section_record.completeRate}}%</div>
            </div>
            {%endif%}
        </div>
    </div>
    {% endfor %}

    <a href="{% url 'learner' %}" style="float:right; margin-bottom: 100px;" class="btn btn-danger">Exit Course</a>


</div>

{%endblock%}